<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GijiElixir!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo"></span>
      </header>

      <div class="row">
        <div class="col-xs-12">
          <%= if @current_user do %>
            <h2>Welcome, <%= @current_user.name %>!</h2>
            <img src="<%= @current_user.avatar %>" class="img-circle"/>
            <%= link "Sign Out", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>

          <% else %>
            <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "github" %>">
              <i class="fa fa-github"><i></i>
              Sign in with GitHub
            </a>
            <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "google" %>">
              <i class="fa fa-google"><i></i>
              Sign in with Google
            </a>
            <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "facebook" %>">
              <i class="fa fa-facebook"><i></i>
              Sign in with Facebook
            </a>
          <% end %>
        </div>
      </div>



      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
