h6
  font-weight: bold
  display: block
  margin: 0
  padding: 0.10em 0.25em
  line-height: 1em
  border-bottom: 1px solid #e5e5e5
  background-color: rgba(255, 255, 255, 0.25)

a, b
  border-radius: 3px
  margin:    4px 2px
  padding:   2px 1px

b
  font-weight: bold!important

.btns
  line-height: 30px
  padding: 0
  background-color: rgba(77, 78, 70, 0.9)

  span
    margin: 0 6px
  a, b
    display: inline-block


  .badge
    background: #596664
    color:      #C2C9C8

.badge
  border-radius:    7px
  font-size:       12px
  line-height:     14px
  height:          14px
  vertical-align:  10px
  margin-right:    -5px

  padding: 2px 6px 0 6px
  display: inline-block
  font-weight: bold
  text-align: center

.theme-ririnra .mes_text,
.theme-cinema  .mes_text,
.theme-wa      .mes_text
  a
    color: #000
  b
    color: #333
  a, b
    background-color: rgba(255,255,255,0.3)

.btns,
.theme-night .mes_text,
.theme-star  .mes_text
  a
    color: #fff
  b
    color: #ccc
  a, b
    background-color: rgba(0,0,0,0.3)

.width-480
  .btns
    text-align: right