text(main, bold, marker)
  box-sizing: border-box
  padding: 0 4px
  color: main
  a
    color: main
  b
    color: bold

  a, b
    background-color: marker
    margin:    4px 2px
    padding:   2px 1px
    border-radius: 3px
    display: inline-block
  code, kbd, b,
  .name
    font-weight: bold

  .text
    overflow:   visible
    word-wrap:  break-word
    word-break: break-strict
    &.head:first-line
      font-weight: bold
    &.mono
      font-family: monospace
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

  .date
    text-align: right
    font-size: 10.5px
    line-height: 15px

white_ssay()
  background:   #CCBB88
  sup, sub
    background: #A78F47
    color:      #CCBB88
  strong,
  .name,
  .text.head:first-line,
  .date
    color:      #665E44


white_text()
  text(#000, #333, rgba(255,255,255,0.3))

black_ssay()
  sup, sub
    background: #596664
    color:      #C2C9C8
  .date
    color: rgba(190,190,150,0.7)

black_wa_text()
  text(#FFC960, #FFEE90, rgba(0,0,0,0.3))

black_text()
  text(#ccc, #fff, rgba(0,0,0,0.3))

h1, h2, h3, h4, h5, h6
  box-sizing: border-box

.contentframe,
.outframe,
.inframe
  box-sizing: content-box


h6
  font-weight: bold
  display: block
  margin: 0
  padding: 0.10em 0.25em
  line-height: 1em
  border-bottom: 1px solid #e5e5e5
  background-color: rgba(255, 255, 255, 0.25)

sup
  vertical-align:   10px

sub
  vertical-align:  -10px

sup, sub
  border-radius:     7px
  font-size:        12px
  line-height:      14px
  height:           14px
  margin-right:      0px
  padding: 2px 6px 0 6px
  display: inline-block
  font-weight: bold
  text-align: center

.std-width
  .btns
    text-align: right

.btns
  black_ssay()
  black_text()
  line-height: 30px
  background-color: rgba(77, 78, 70, 1)
  span
    margin: 0 6px

.wa-theme
  .btns
    black_wa_text()

.ririnra-theme,
.cinema-theme,
.wa-theme
  .chat
    white_ssay()
    white_text()
    .name
      border-bottom: 1px solid rgba(0,0,0,0.2)
      box-shadow: rgba(255,255,255,0.3) 0 1px 0

.cinema-theme
  .talk .chat
    border-radius: 0.5rem

.wa-theme
  .talk .chat
    border-top:    2px solid #444
    border-bottom: 2px solid #444
  .name, strong
    color: #333


.moon-theme
  .chat
    black_ssay()
    black_wa_text()
    .name
      border-bottom: 1px dashed

.night-theme,
.star-theme
  .chat
    black_ssay()
    black_text()
    .name
      border-bottom: 1px dashed


