o = {}
o.SSAY = o.NONE = o.live = o.mob = #cb8
o.TSAY = o.HUMAN = o.DISH = #a97
o.GSAY = o.executed = #bbd
o.WSAY = o.WOLF = o.suicide = o.victim = o.cursed = o.feared = o.droop = #a55
o.XSAY = o.EVIL = #9a7
o.SPSAY = o.AIM = o.LOVER = #dcb
o.AIM =   #dcb

o.LONEWOLF = o.PIXI = o.GURU = #a9d
o.HATER = #aaa

o.caution = o.suddendead = o.leave = #666

o.btns = #4d4e46
o.links = #000


dark  = #000
black = #222
white = #ccc
gold  = #ffc960

palette($bgTheme, $backTheme, $pen)
  $border = #333
  if glass == $backTheme
    $border = o[$bgTheme]
    $emboss = alpha($border, 0.7)
    $bg = alpha(complement($border), 0.2)
    if SSAY == $bgTheme
      $border = #ccc
    $pen = mix($border, $pen, 40%)

  if light == $backTheme
    $bg = o[$bgTheme]
    $pen = mix($bg, $pen, 40%)
    $emboss = darken($bg, 40%)

  if white == $backTheme
    $bg = o[$bgTheme]
    $emboss = darken($bg, 40%)

  if black == $backTheme
    $bg = o[$bgTheme]
    $emboss = darken($bg, 40%)

  .{$bgTheme}
    theme-block($pen, $bg, $emboss, $border)
    theme-mark($pen, $bg, $emboss, $border)


says  = SSAY TSAY GSAY WSAY XSAY SPSAY AIM
losts = suddendead leave
stats = HUMAN EVIL WOLF LOVER HATER GURU PIXI LONEWOLF DISH HUMAN executed live mob suicide victim cursed feared droop


palette(links, black, white)
palette(btns,  black, white)

.moon-theme, .wa-theme
  palette(links, black, gold)
  palette(btns,  black, gold)

.moon-theme
  for say in says
    palette(say,  glass, gold)
  for stat in stats
    palette(stat, light, dark)
  for lost in losts
    palette(lost, light, white)

.night-theme, .star-theme
  for say in says
    palette(say, glass, white)
  for stat in stats
    palette(stat, light, dark)
  for lost in losts
    palette(lost, light, white)

.ririnra-theme, .cinema-theme, .wa-theme
  for say in says
    palette(say, white, black)
  for stat in stats
    palette(stat, light, dark)
  for lost in losts
    palette(lost, light, white)


