theme-block($pen, $bg, $emboss)
  box-sizing: border-box

  color:           $pen
  background-color: $bg

  textarea
    background-color: $bg

  .name, .date, strong
    color: $emboss

  sup, sub
    background: $emboss
    color:      $bg

theme-mark($pen, $bg, $emboss)
  $mark = lighten($bg, 20%)
  $bold = lighten($pen, 30%)
  $spot = lighten($bg, 50%)

  $on  = mix($mark, green, 90%)
  $off = mix($mark, blue,  90%)

  b
    color: $bold

  a, button,
  [title], [data-tooltip],
  input[type=checkbox],
  input[type=radio],
  input[type=color],
  input[type=image],
  input[type=button],
  input[type=submit],
  input[type=reset]
    color: $pen

  a, b, button,
  [title], [data-tooltip],
  input[type=checkbox],
  input[type=radio],
  input[type=color],
  input[type=image],
  input[type=button],
  input[type=submit],
  input[type=reset]
    background: $mark
    &:hover, &:focus
      background: $bg
      box-shadow:
        0 0 20px 3px $spot inset
    &:active
      background: $bg
      box-shadow:
        0 0 20px 3px $emboss inset

  input[type=checkbox],
  input[type=radio]
    &:checked
      background: $on

  a[href]
    &:link
      color: $pen
      background: $off
    &:visited
      color: $pen
      background: $on

theme-btn($pen, $bg, $emboss)
  $mark = lighten($bg, 20%)
  $bold = lighten($pen, 30%)
  $spot = lighten($bg, 50%)

  $on  = mix($mark, green, 90%)
  $off = mix($mark, blue,  90%)

  b
    color: $bold

  a, button,
  [title], [data-tooltip],
  input[type=checkbox],
  input[type=radio],
  input[type=color],
  input[type=image],
  input[type=button],
  input[type=submit],
  input[type=reset]
    color: $pen

  a, b, button,
  [title], [data-tooltip],
  input[type=checkbox],
  input[type=radio],
  input[type=color],
  input[type=image],
  input[type=button],
  input[type=submit],
  input[type=reset]
    background: $bg
    box-shadow:
        0 -2px 0.5px 0 $shadow inset
    &:hover, &:focus
      box-shadow:
        0 0 0  15000px $shadow inset,
        0 -1px         $shadow inset
    &:active
      box-shadow:
        0 0 0  15000px $shadow inset,
        0 -1px         $shadow inset

  input[type=checkbox],
  input[type=radio]
    &:checked
      background: $on

  a[href]
    &:link
      color: $pen
      background: $off
    &:visited
      color: $pen
      background: $on

  a, b, button,
  [title], [data-tooltip],
  input[type=color],
  input[type=image],
  input[type=button],
  input[type=submit],
  input[type=reset]
    color: $pen
